<%= form_for(@cactus) do |f| %>
  <% if @cactus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cactus.errors.count, "error") %> prohibited this cactus from being saved:</h2>

      <ul>
      <% @cactus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %><br />
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :latin_name %><br />
    <%= f.text_field :latin_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :planted_on %><br />
    <%= f.date_select :planted_on %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
